<# https://github.com/olegsych/T4Toolbox/issues/29#>

<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="CodeGenerator.tt" #>
<#
	CodeGenerator generator = new CodeGenerator();
	generator.Run();
#>
