<#+
// <copyright file="UnityTemplate.tt" company="">
//  Copyright © . All Rights Reserved.
// </copyright>

public class UnityTemplate : CSharpTemplate
{
	public override string TransformText()
	{
		base.TransformText();
#>
namespace <#= SimpleUI #>
{
	public class <#= Identifier("Sample Class") #>
	{
		private string <#= FieldName("Sample Field") #>;

		public string <#= PropertyName("Sample Property") #> { get; set; }
	}
}
<#+
        return this.GenerationEnvironment.ToString();
	}
}
#>
